@import '../../styles/variables.scss';
$animationDuration: 0.4s;

.headerWithoutBackground {
  padding: $basePadding;
  color: $headerLink;
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  animation-name: fadeOut;
  -webkit-animation-duration: $animationDuration;
  animation-duration: $animationDuration;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 999;
}

.headerWithBackground {
  padding: $basePadding;
  color: $headerLink;
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  animation-name: fadeIn;
  -webkit-animation-duration: $animationDuration;
  animation-duration: $animationDuration;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 999;
}

@-webkit-keyframes fadeIn {
  0% {
    background-color: transparent;
    box-shadow: none;
  }
  100% {
    background-color: $headerBackgroundColor;
    box-shadow: -1px 2px 4px 0 #696969;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    background-color: $headerBackgroundColor;
    box-shadow: -1px 2px 4px 0 #696969;
  }
  100% {
    background-color: transparent;
    box-shadow: none;
  }
}

.logo {
  font-size: larger;
  margin-left: 1rem;
}

.navigation {
  margin-left: auto;
  margin-right: 3rem;
}

.navigation > a {
  margin-left: 1.5rem;
}
