.aboutContent {
  background-color: white;
  padding: 1.5rem;
  color: #434343;
  line-height: 175%;
  box-shadow: -1px 2px 4px 0 #696969;
}

.aboutTitle {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
