.educationContent {
  background-color: white;
  color: #434343;
  line-height: 175%;
  width: 100%;
}

.educationTitle {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
